*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:visited  {
    color:white;
}

body {
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
}

/****************************/

.sideBar{
    width: 36vw;
    height: 100vh;
    background-image: url("pictures/background-image.jpg");
    background-position: center;
    background-size: cover;

    /* relative attribute in sideBar can make 
    logo part use absolute attribute to position*/
    position: relative;
    
    display: flex;
    flex-direction: column;
}

.logo {
    height: 15vh;
    font-family: 'Norse', serif;;
    position: absolute;
    top: 20vh;
    background-color:rgb(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    height: 10vh;
}

.logo p {
    color: white;
    font-size: 8vh;
}

.credit {
    color: white;
    font-size: 10px;
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 2vh;

    display: flex;
    width: 100%;
    justify-content: center;
}

/****************************/

.userPage{
    width: 64vw;
    display: flex;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    flex-direction: column;
}

/******************/

.webInformation{
    width: 90%;
    height: 35vh;
    font-weight: bold;
    font-size: 17px;
    padding: 60px 35px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

/******************/

.inputFields{
    background-color:white;
    padding: 15px 35px;
    box-shadow: 0px 2px 5px 0px gray;
}

.inputFields form{
    display: flex;
    flex-direction: column;
}

form > p {
    font-weight: bold;
    font-size: 17px;
}

.allFields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allFields .field {
    margin-right: 60px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
}

.field label{
    font-size: 10px;
}

.field input {
    width: 200px;
    height: 25px;
    padding: 5px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    /*remove black outline in input field when focused*/
    outline: none;
}

.field input:invalid {
    border: 1px solid #b22222;
}

.field input:focus {
    border: 1px solid blue;  
    box-shadow: 2px 2px 5px gray;
}

.field #error {
    color: #b22222;
    font-size: 10px;
}

/******************/

.submitButton{
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
    --font-color-with-background-pic: SaddleBrown;
}

.submitButton button[type="submit"]{
    width: 180px;
    padding: 10px 0px;
    margin: 5px 0px;
    border: none;
    border-radius: 3px;
    background-color: var(--font-color-with-background-pic);
    color:white;
    box-shadow: 2px 2px 5px gray;
}

.submitButton button[type="submit"]:active{
    opacity: 0.5;
}

.submitButton > p {
    margin: 10px 0px;
}

.submitButton > p > span{
    color: var(--font-color-with-background-pic);
}
