*  {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:visited  {
    color:white;
}

body {
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
}

/****************************/

.sidebar{
    width: 36%;
    height: 100vh;
    background-image: url("pictures/background-image.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    
    display: flex;
    flex-direction: column;
}

.logo {
    height: 15vh;
    font-family: 'Norse', serif;;
    position: absolute;
    top: 20vh;
    background-color:rgb(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    height: 10vh;
}

.logo p {
    color: white;
    font-size: 8vh;
}

.credit {
    color: white;
    font-size: 10px;
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 2vh;

    display: flex;
    width: 100%;
    justify-content: center;
}

/****************************/

.userpage{
    width: 64%;
    display: flex;

    flex-direction: column;
}

.right-row1{
    display: flex;
    flex-direction: row;
}

.right-row2{
    display: flex;
    flex-direction: row;
}

.right-row3{
    display: flex;
    flex-direction: row;
}